section.blog 
    .container
        .blog__header
            h2.global__heading.global__heading--big Our Regular Updated Blog Posts
            p.global__text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.
        .blog__list 
            +blogItem("./images/picture1.jpg", "SEO tips and tricks for new",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
            +blogItem("./images/picture2.jpg", "SEO tips and tricks for new",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
            +blogItem("./images/picture3.jpg", "SEO tips and tricks for new",  "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")