section.brand 
    .brand__item
        img(src="./images/google.png" alt="Google")
    .brand__item
        img(src="./images/slack.png" alt="Slack")
    .brand__item
        img(src="./images/discord.png" alt="Discord")
    .brand__item
        img(src="./images/riotinto.png" alt="RioTinto")
    .brand__item
        img(src="./images/heroku.png" alt="Heroku")