section.footer.footer__bg
    .container
        .footer__contact 
            .row.g-3
                .col-12.col-lg-4
                    span.global__caption.fw-bold MidBank
                    p.global__text We operate our banking services in many countries around the world.
                    span.footer__icon
                        img(srcset="./images/icon-facebook.png")
                    span.footer__icon
                        img(srcset="./images/icon-google.png")
                    span.footer__icon
                        img(srcset="./images/icon-twitter.png")
                    span.footer__icon
                        img(srcset="./images/icon-dribbble.png")
                .col-12.col-lg-2
                .col-12.col-lg-2
                    span.global__caption.fw-bold Product
                    p Careere
                    p About Us
                    p Insights
                    p PCI Compliance
                    p Integration
                    p Pricing
                .col-12.col-lg-2
                    span.global__caption.fw-bold Service
                    p Docs
                    p Knowledge Base
                    p System Status
                    p Tutorials
                    p Security
                .col-12.col-lg-2
                    span.global__caption.fw-bold FAQ
                    p About
                    p Leadership
                    p Press/News
                    p Careers/Team
                    p Contact Us