header.header
    .navigation
        img(srcset ="./images/logo.png" class="header__logo")
        include ./menu
        span.toggle Menu

    .header__main.container
        .header__content
            span.global__caption AWARD WINING COMAPNY
            h1.global__heading.global__heading--huge.header__heading We Are The Best Digital Marketing
            p.global__text.header__desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions.
            .header__actions
                a.button.button--primary(href="#!") Get Started
                a.watch__video(href="#!")
                    .watch__icon
                        img(srcset="./images/icon-play.png")
                    span Watch Video
        .header__image
            img(src="./images/img-header.png")