ul.menu
    li.menu__item
      a.menu__link(href="#!") Home
    li.menu__item
      a.menu__link(href="#!") Why us?
    li.menu__item
      a.menu__link(href="#!") Features
    li.menu__item
      a.menu__link(href="#!") Pricing
    li.menu__item
      a.menu__link(href="#!") Contact
    li.auth
      a.button.button--secondary.auth__login(href="#!") Login
      a.button.button--primary.auth__signup(href="#!") Signup
