section.mission
    .container
        .mission__container
            .mission__content
                span.global__caption OUR MISSION &amp; GOAL
                h2.global__heading.global__heading--big Realize Your Business Goals For Profit
                p.global__text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis.
                a.button.button--primary(href="#!") Get In Touch
            .mission__image 
                img(srcset="./images/img-mission.png")