section.subscribe
    .container.subscribe__container 
        .subscribe__main
            .subscribe__content 
                h2.global__heading.subscribe__heading Sign up to Our Newsletter 
                p.global__text.subscribe__desc You need to positive results when you spend hard earned revenue and time.
            .subscribe__form 
                .subcribe__field
                    .form
                        input.subscribe__input(type="text" placeholder="Email...")
                button.button.button--primary Subscribe