section.who
    .container 
        .who__container
            .who__image
                img(srcset="./images/img-who.png")
            .who__content 
                span.global__caption WHO WE ARE
                h2.global__heading.global__heading--big Top #1 Marketing Agency in the World
                p.global__text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis.
                a.button.button--primary(href="#!") Get In Touch